<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>

</head>
<body>
<h1>输入要连接的服务器</h1>

<form id="connect" method="POST" action='#'>
    <input type="text" name="hostname" id="hostname" placeholder="服务器地址"><br/><br/>
    <input type="text" name="port" id="port" placeholder="服务器端口"><br/><br/>
    <input type="text" name="user" id="user" placeholder="服务器用户"><br/><br/>
    <input type="password" name="password" id="password" placeholder="服务器密码"><br/><br/>
    <input type="hidden" name="room_name" id="room_name">
    <input type="submit" value="连接">
</form>
<script src="{{ url_for('static',filename='js/jquery-1.7.1.min.js') }}"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        var timestamp = new Date().getTime();
        $('#room_name').val(timestamp);
        $('form#connect').submit(function (event) {
            var hostname = $('#hostname').val();
            url = "/client?hostname=" + hostname + "&roomname=" + timestamp; // 'http://' + document.domain + ':' + location.port +
            $('body').append('<a href="" id="goto" target="_blank"></a>');
            $('#goto').attr('href', url);
            $('#goto').get(0).click();
            $('#goto').remove();
        });
    });
</script>
</body>
</html>
