<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static',filename='js/jquery-1.7.1.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/jquery.terminal/0.10.12/jquery.terminal.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.terminal/0.10.12/jquery.terminal.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            namespace = '/test';
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function () {
                socket.emit('my event', {data: 'I\'m connected!'});
            });
            var now_terminal = $('body').terminal({
                echo: function (arg1) {
                    this.echo(arg1);
                },
                ssh: function (host, port) {
                    this.pause();
                    var tterm = this;
                    $.ajax({
                        url: '{{ url_for('client_connect') }}',
                        type: 'POST',
                        data: {
                            host: host,
                            port: port
                        },
                        dataType: 'json',
                        success: function (data) {
                            console.log(data.data);
                            tterm.resume()
                        }
                    });
                    this.push('{{ url_for('client_login')}}', {prompt: '>', greeting: false, login: true})
                },
                rpc: '{{ url_for('execs') }}',
                calc: {
                    add: function (a, b) {
                        this.echo(a + b);
                    },
                    sub: function (a, b) {
                        this.echo(a - b);
                    }
                },
                socket: function () {
                    this.push(function (command, term) {
                        socket.emit('my event', {data: command});
                        term.pause()
                    }, {prompt: 'socket>', greeting: false, name: 'sockd'})
                }
            }, {prompt: '>', greeting: false});
            socket.on('my response', function (msg) {
                now_terminal.echo(msg.data);
                now_terminal.resume()
            });
        });

    </script>
</head>
<body>

</body>
</html>